/.vs
/.vscode
/node_modules
/public/hot
/public/storage
/public/uploads/avatar/*
/public/.htaccess
/public/build
public/uploads/device_audits/*
public/licenses/*
/vendor
/config.zip
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/*.key
/public/Invoice
/public/procurements
/nbproject/private/
/project.properties
/project.xml
composer.lock
.vscode/database.json
premises/*
nbproject/
laravel-echo-server.lock
laravel-echo-server.json
package-lock.json
*.yml
*.log
.DS_Store
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.nova
/.phpunit.cache
/.zed
/auth.json
/storage/pail
Thumbs.db
/storage/supplier
/storage/*
/public/settings/*
